<!-- <div *ngIf="title2=='0'">
    Hello
</div>

<div *ngFor="let item of strArr; index as i;">
   <a *ngIf="item>0 && item<5">
    {{item}} of {{i}}
   </a>
</div>

<div>
    <a href="#" [ngStyle]="setStyle('normal')">Test Link</a>
</div>

<p appHighlightbc>Hello World</p>

<div>
    {{Name}}
</div>

{{Status}} -->


<!-- <h1 [innerHtml]='FullName'></h1>
<p>Server2 is working fine</p>
<button [disabled]='isDisabled'>Disable Me</button>
<button [disabled]='!allowServer'>Add Server</button>

{{serverStatus}}


<label>Server Name</label>
<input type="text" (input)="OnUpdateServerName($event)">

<p>{{serverName}}</p>

UserName : <input type="text" [(ngModel)]="username" >

<br/>

{{username | uppercase}}
<br/>
{{username | lowercase}}

<br/><br/><br/><br/>

<h1>Curency Pipe</h1>
<b>{{6589.23 | currency:"USD":false}}</b>
<br/><br/><br/><br/>
<h1>Date Pipe</h1><br/><br/><br/><br/>
<b>{{todaydate | date:'d/M/y'}}</b> and <b>{{todaydate | date:'shortTime'}}</b>

<br/><br/><br/><br/>

<b>{{456.9897895 | number: '3.4-4'}}</b>

<br/><br/><br/><br/>
<b>{{jsonVal | json}}</b>

<br/><br/><br/><br/>
<b>{{00.5655 | percent}}</b>

<br/><br/><br/><br/>
<b>{{months | slice:2:6}}</b>

<br/><br/><br/><br/>
<b>{{'hello,world' | textChange}}</b>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<router-outlet></router-outlet> -->


<!-- 
<input type="text" [(ngModel)]="username"> -->

<router-outlet></router-outlet>
